body{
  background-color: #E4F9F5;
}
h1{
  text-align: center;
}
#intro{
  margin:100px;
  font-size: 40px;
}
h2{
  text-align: center;
  text-decoration: underline;
}
img{
  width:100%;
}
p{
  text-align: center;
  font-size: 25px;
}
